<div class="product-card">
	<img src="/products/<%= product.category %>/<%= product.id %>/<%= product.id %>-1.png" alt="<%= product.title %>"
		class="product-card__image" />
	<h3 class="product-card__title">
		<%= product.title %>
	</h3>
	<p class="product-card__price">
		<%= product.price %> €
	</p>
</div>